<h1>Search For Any Users</h1>

<form [formGroup]="searchForm" (ngSubmit)="submitSearch(searchForm)">

  <label for="inputSearch">Search Here: </label>
  <input type="text" id="inputSearch" formControlName = "inputSearch" class="form-control mb-3">
  <div *ngIf="searchForm.get('inputSearch')?.errors && searchForm.get('inputSearch')?.touched">
    <p class="alert text-danger py-1">{{searchForm.get('inputSearch')?.errors|json}}</p>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="searchForm.invalid">
    Search
  </button>

</form>

<div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Department Name</th>
        <th scope="col">Job Title</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of result; let i= index">
      <tr>
        <td><img [src]="user.image" alt="img" width="30%"></td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.age}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.company.department}}</td>
        <td>{{user.company.title}}</td>
      </tr>
    </tbody>
  </table>
</div>
